<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite">

   <test name = "testcalsquere">
        <groups>
    	 <run>
      	  <include name="testcalsquere"/>
          <exclude name="broken"/>
        </run>
  	</groups>

	<classes>
         <class name = "test.taskobject.action.TestEllipseInfo" />
      </classes>
   </test>
  
</suite>